<div style="margin: auto; width: 1000px">
  <h2 class='text-center mb-4'>Weekly data</h2>
  
  <%= column_chart current_user.time_entries.total_time_by_day(last: 7), width: '1000px', suffix: 'h' %>

  <div class="mt-5 d-flex justify-content-center">
    <%= form_with url: statistics_path, method: :get, html: { class: "d-flex", style: "width: 400px"} do |form| %>
  
      <%= form.date_field :preview_date, value: @preview_date, class: "form-control mr-2" %>
  
      <%= form.submit "Show", class: "btn btn-primary btn-md" %>
    <% end %>
  </div>

  <div class="font-weight-bold mt-5 font-18">
    Total: <span id="total_time"> <%= pp_collection_total_time(@time_entries_recorded_on_date) %> </span>
  </div>
  
  <div id="time_entries_list">
    <%= render partial: "time_entries/list_item", collection: @time_entries_recorded_on_date, as: :time_entry %>
  </div>
</div>

