<div id="clearance" class="default-form">
  <h2 class="mb-4 d-flex justify-content-center"><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="d-flex justify-content-center">
      <%= form.submit class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
 
 <div class="other-links text-center mt-2">
       <span> Have an account? </span>
        <%= link_to t(".sign_in"), sign_in_path %>
  </div>

  <%= render partial: 'commons/errors', object: @user.errors.full_messages %>
</div>
