<div style="margin: auto; width: 900px;">
  <div id="timer_form_container">
  <%= render partial: "time_entries/start_timer_form", locals: { hidden: @active_time_entry.present? } %>
  <% if @active_time_entry.present? %>
    <%= render partial: "time_entries/stop_timer_form", locals: { time_entry: @active_time_entry } %>
  <% end %>
  </div>

  <div class="d-flex justify-content-end mt-2 font-18">
    <%= link_to "Create manually", new_time_entry_path %>
  </div>

  <div class="font-weight-bold mt-5 font-18">
    Total: <span id="total_time" data-total-time="<%= collection_total_time(@time_entries_recorded_today) %>"> <%= pp_collection_total_time(@time_entries_recorded_today) %></span>
  </div>
  <div id="time_entries_list">
    <%= render partial: "time_entries/list_item", collection: @time_entries_recorded_today, as: :time_entry %>
  </div>
</div>