<div id="<%= dom_id(time_entry) %>" class="d-flex align-items-center border-top mt-2 pt-2">
  <div class=" flex-grow-1"><%= time_entry.description %></div>

  <div class ="d-flex flex-column" style="width:100px">
    <span>start time:</span>
    <span><%= time_entry.start_time.strftime("%H:%M:%S") %></span>
  </div>
  
  <div class="d-flex flex-column"  style="width:100px">
    <span>end time:</span>
    <span><%= time_entry.end_time.strftime("%H:%M:%S") %></span>
  </div>
  
  <div class="d-flex flex-column"  style="width:100px">
    <span>total time:</span>
    <span class="font-weight-bold"><%= pp_total_time(time_entry.total_time) %></span>
  </div>
  
  <div  class="d-flex flex-column text-right"  style="width:70px">
    <%= link_to "Edit", edit_time_entry_path(time_entry) %>
    <%= link_to "Delete", time_entry_path(time_entry), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this time entry?" } %>
  </div>
</div>