<%= form_for time_entry, remote: true, html: { id: :stop_timer_form, class: "d-flex" } do |f| %>
  <%= f.text_field :description, class: "flex-grow-1", placeholder: "What are you working on, #{current_user.first_name}?" %>
  
  <%= f.hidden_field :end_time %>
  
  <div data-timer="<%= time_entry.start_time.strftime("%Y-%m-%dT%H:%M:%S") %>" class="time-counter"></div>
  
  <%= f.submit "Stop", id: :stop_timer_btn, class: "btn btn-primary btn-md w-100px"%>
<% end %>