<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light justify-content-between" style="background-color: #e3f2fd;">
      <a class="navbar-brand">Time tracker</a>
      <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= link_to 'Sign out', sign_out_path, method: :delete, class: "font-weight-bold" %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path, class: "font-weight-bold" %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
